{% extends 'accounts/base.html' %}

{% block content %}
	<h1 class="text-center">Users</h1>
	<hr />
	<form>
		<input type="search" name="term" />
		<button type="submit">Search</button>
	</form>
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		{% for u in users %}
			<tr>
				<td>{{ u.id }}</td>
				<td>
					<a href="{% url 'accounts:user_detail' pk=u.id %}">{{ u.get_full_name }}</a>
				</td>
				<td>{{ u.email }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock content %}
